.login-form-container {
    position: fixed;
    inset: 0;

    display: none;
    align-items: center;
    justify-content: center;
}

.login-form-container.show {
    display: flex;
}

.login-form-container .login-form {
    width: 25%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;

    padding: 2em;
    
    border: 1px solid var(--accent-colour);
    border-radius: 1.5em;
}

.login-form-container .login-form .error {
    display: none;

    color: red;
    text-align: center;
}

.login-form-container .login-form h2 {
    font-size: 2em;
}

.login-form-container .login-form .login-form-group {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-form-container .login-form .login-form-group label {
    font-size: 1.25em;
}

.login-form-container .login-form .login-form-group input {
    width: 100%;

    color: var(--accent-colour);

    font-size: 1.25em;

    background-color: transparent;

    border: none;
    border-bottom: 1px solid var(--accent-colour);

    outline: none;
}

.login-form-container .login-form .login-form-group input:focus {
    border-color: var(--primary-font-colour);
}

.login-form-container .login-form button {
    padding: 0.25em 1em;

    color: var(--accent-colour);

    font-size: 1.25em;

    background-color: transparent;

    border: 1px solid var(--accent-colour);
    border-radius: 0.5em;

    cursor: pointer;

    transition: all 0.25s;
}

.login-form-container .login-form button:hover {
    color: white;

    background-color: var(--accent-colour);
}

.item-preview-container {
    position: fixed;
    inset: 0;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 99;
}

.item-preview-container.show {
    display: flex;
}

.item-preview-container .item-preview {
    height: 100%;
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2.5em 1em;

    background-color: var(--secondary-bg-colour);

    overflow-x: hidden;
    overflow-y: auto;
}

.item-preview-container .item-preview .close-preview {
    margin-bottom: 2em;

    color: white;
    font-size: 2em;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.item-preview-container .item-preview h2 {
    color: white;

    font-size: 2.5em;
}

.item-preview-container .item-preview h3 {
    margin-bottom: 1em;

    color: rgba(255, 255, 255, 0.5);

    font-size: 1.5em;
    font-weight: 500;
}

.item-preview-container .item-preview h4 {
    margin-top: 2em;
    margin-bottom: 0.75em;

    color: white;

    font-size: 1.5em;
}

.item-preview-container .item-preview p {
    color: white;
    font-size: 1.25em;
    text-align: center;
}

.item-preview-container .item-preview p strong {
    color: white;
}

.item-preview-container .item-preview .order-status {
    margin-top: 2.5em;

    padding: 0.5em 1em;

    color: white;
    font-size: 1.25em;

    background-color: transparent;
    border: 2px solid white;
    border-radius: 1em;

    cursor: pointer;

    transition: background-color 0.25s, color 0.25s;
}

.item-preview-container .item-preview .order-status:hover {
    color: var(--accent-colour);
    background-color: white;
}

.item-preview-container .item-preview .delete-order {
    margin-top: 1em;

    color: white;
    font-size: 1.5em;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.item-preview-container .item-preview .delete-order strong {
    margin-bottom: 1em;

    color: white;
}

.item-preview-container .item-preview .delete-order .delete-prompt {
    margin: 0 0.5em;

    color: white;
    font-size: 1em;
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.admin-container {
    width: 100%;

    display: none;
    flex-direction: column;
    padding: 1.5em;
    gap: 0.75em;

    font-size: 1em;

    overflow: auto;
}

.admin-container.show {
    display: flex;
}

.admin-container .navbar {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1em;

    padding: 0 1em;
}

.admin-container .navbar button {
    color: var(--accent-colour);
    font-size: 1em;
    font-weight: 700;

    border: none;
    
    cursor: pointer;
}

.admin-container .navbar p {
    margin-left: auto;
    color: var(--accent-colour);
}

.admin-container .navbar .log-out-btn {
    padding: 0.5em 1em;

    color: var(--accent-colour);
    font-size: 0.75em;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid var(--accent-colour);
    border-radius: 1em;

    cursor: pointer;

    transition: background-color 0.25s, color 0.25s;
}

.admin-container .navbar .log-out-btn:hover {
    color: white;
    background-color: var(--accent-colour);
}

.admin-container .orders {
    --grid-columns: 6em 12em 12em 12em 8em;

    width: 100%;

    display: none;
    flex-direction: column;
    gap: 0.75em;

    font-size: 1em;

    overflow-x: hidden;
    overflow-y: auto;
}

.admin-container .orders.show {
    display: flex;
}

.admin-container .orders .orders-menu {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1em;
}

.admin-container .orders .orders-menu .order-status {
    display: flex;

    border: 1px solid var(--primary-font-colour);
    border-radius: 0.5em;

    overflow: hidden;
}

.admin-container .orders .orders-menu .order-status input {
    display: none;
}

.admin-container .orders .orders-menu .order-status label {
    padding: 0.5em 0.75em;

    cursor: pointer;
}

.admin-container .orders .orders-menu .order-status:has(input#status-incomplete:checked) label#status-incomplete,
.admin-container .orders .orders-menu .order-status:has(input#status-delivered:checked) label#status-delivered,
.admin-container .orders .orders-menu .order-status:has(input#status-paid:checked) label#status-paid {
    color: white;
    background-color: var(--primary-font-colour);
}

.admin-container .orders .heading {
    width: 100%;

    display: grid;
    grid-template-columns: var(--grid-columns);
    gap: 1.5em;
    padding: 0.5em 1em;
}

.admin-container .orders .heading p {
    font-weight: 700;
}

.admin-container .orders .order {
    width: 100%;

    display: grid;
    grid-template-columns: var(--grid-columns);
    gap: 1.5em;

    padding: 1em;

    background-color: var(--secondary-bg-colour);

    border-radius: 1em;

    transition: opacity 0.25s;

    cursor: pointer;

    overflow: hidden;
}

.admin-container .orders .order:hover {
    opacity: 0.75;
}

.admin-container .orders .order p {
    color: white;
    text-wrap: nowrap;
    overflow: hidden;
}

.admin-container .clients {
    --grid-columns: 6em 12em 16em 10em;

    width: 100%;

    display: none;
    flex-direction: column;
    gap: 0.75em;

    font-size: 1em;

    overflow-x: hidden;
    overflow-y: auto;
}

.admin-container .clients.show {
    display: flex;
}

.admin-container .clients .heading {
    width: 100%;

    display: grid;
    grid-template-columns: var(--grid-columns);
    gap: 1.5em;
    padding: 0.5em 1em;
}

.admin-container .clients .heading p {
    font-weight: 700;
}

.admin-container .clients .clients-menu {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1em;
}

.admin-container .clients .clients-menu .clients-page {
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-weight: 500;
}

.admin-container .clients .clients-menu .clients-page button {
    font-size: 1.25em;
    font-weight: 500;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.admin-container .clients .clients-menu .clients-search {
    display: flex;
}

.admin-container .clients .clients-menu .clients-search input {
    padding: 0.5em;

    background-color: transparent;
    border: 1px solid var(--primary-font-colour);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    outline: none;
}

.admin-container .clients .clients-menu .clients-search select {
    padding: 0.5em;

    color: white;

    background-color: var(--primary-font-colour);
    border: none;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

    outline: none;
}

.admin-container .clients .client {
    width: 100%;

    display: grid;
    grid-template-columns: var(--grid-columns);
    gap: 1.5em;

    padding: 1em;

    background-color: var(--secondary-bg-colour);

    border-radius: 1em;

    transition: opacity 0.25s;

    cursor: pointer;

    overflow: hidden;
}

.admin-container .clients .client:hover {
    opacity: 0.75;
}

.admin-container .clients .client p {
    color: white;
    text-wrap: nowrap;
    overflow: hidden;
}

@media (max-width: 1075px) {
    .admin-container .orders .heading p:nth-child(6),
    .admin-container .orders .order p:nth-child(6) {
        display: none;
    }

    .admin-container .clients .heading p:nth-child(6),
    .admin-container .clients .client p:nth-child(6) {
        display: none;
    }
}

@media (max-width: 975px) {
    .admin-container .orders .heading p:nth-child(5),
    .admin-container .orders .order p:nth-child(5) {
        display: none;
    }

    .admin-container .clients .heading p:nth-child(5),
    .admin-container .clients .client p:nth-child(5) {
        display: none;
    }
}

@media (max-width: 775px) {
    .admin-container .orders .heading p:nth-child(4),
    .admin-container .orders .order p:nth-child(4) {
        display: none;
    }

    .admin-container .clients .heading p:nth-child(4),
    .admin-container .clients .client p:nth-child(4) {
        display: none;
    }
}

@media (max-width: 550px) {
    .admin-container {
        font-size: 0.8rem;
    }
}